<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #333;
            padding: 15px;
            text-align: left;
            color: white;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .search-container input[type=text] {
            padding: 10px;
            width: 300px;
            border: none;
            border-radius: 5px 0 0 5px;
            box-sizing: border-box;
        }

        .search-container button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        .map {
            text-align: center;
            margin-top: 20px;
        }

        .listCities {
            text-align: center;
            margin-top: 20px;
        }